<!-- ======= Header ======= -->
<header id="header" class="header fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="index.html" class="logo d-flex align-items-center">
        <img src="../assets/img/logo.png" alt="">
        <span>Technoplat</span>
      </a>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto " href="#">Home</a></li>
          <li><a class="nav-link scrollto" href="#">About</a></li>
          <li><a class="nav-link scrollto" href="#">News</a></li>
          <li><a class="nav-link scrollto" href="#">Jobs</a></li>
          <li class="dropdown"><a href="#"><span>Connect</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
            
              <li><a href="#">Forum</a></li>
              Meet the people in:
              <li><a href="#">Business and Finance</a></li>
              <li><a href="#">Technology</a></li>
              <li><a href="#">Legal</a></li>
              <li><a href="#">Marketing</a></li>
              <li><a href="#">Investment</a></li>
              <li><a href="#">Education</a></li>
              <li><a href="#">Real Estate</a></li>

            </ul>
          </li>
          <li><a class="nav-link scrollto" href="#">Educate</a></li>
        
          <li class="dropdown"><a href="#"><span>Invest</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
            For Investor
              <li><a href="#">Potential Start Up Business</a></li>
              <li><a href="#">Angel Investor Club</a></li>

            For Start Up
              <li><a href="#">Showcase your product</a></li>
              <li><a href="#">Meet your Investor</a></li>
              <li><a href="#">Contact Us for Fundraising</a></li>

            </ul>
          </li>
          
          <li><a class="nav-link scrollto" href="#contact">Contact us</a></li>
          <li><a class="getstarted scrollto" href="#about">Get Started</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->